Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

Improve triggerer tests. Add test for custom triggerer liveness and readiness probes.
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

1.15.2
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.2 (#595)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

pre-commit
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Upgrade Airflow chart to. use 1.15.2 (#597)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.2
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.2version (#598)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Update service name for port-forward of Airflow GUI
  README.md
Due: ensure-rolebinding-without-dash

15.3 release
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

15.3-release
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update chart lock
  Chart.lock
Due: ensure-rolebinding-without-dash

15.3
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

15.3 release (#602)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

15.3 (#603)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix typing
  tests/chart/helm_template_generator.py
Due: ensure-rolebinding-without-dash

Improve code quality without changing features
  tests/__init__.py
Due: ensure-rolebinding-without-dash

Add types. Add get_all_features()
  tests/chart/__init__.py
Due: ensure-rolebinding-without-dash

Import git_root_dir
  tests/chart/conftest.py
  tests/chart/helm_template_generator.py
Due: ensure-rolebinding-without-dash

add tpl for all components
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

correct tpl
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add tests
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

pre-commit
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

1.15.4
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add sa tests
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

correcting tests
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

correct tests
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

add tests
  tests/chart/test_airflow_sa.py
Due: ensure-rolebinding-without-dash

pre-commit
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/k8s_schema/v1.30.0-standalone/cronjob-batch-v1.json
Due: ensure-rolebinding-without-dash

pre-commit
  tests/chart/test_airflow_sa.py
Due: ensure-rolebinding-without-dash

Fix ServiceAccount Template Rendering for Platform-Managed Deployments (#604)
  Chart.lock
  Chart.yaml
  templates/_helpers.yaml
  tests/chart/test_airflow_sa.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/k8s_schema/v1.30.0-standalone/cronjob-batch-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix ServiceAccount Template Rendering for Platform-Managed Deployments (#604) (#605)
  Chart.lock
  Chart.yaml
  templates/_helpers.yaml
  tests/chart/test_airflow_sa.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/k8s_schema/v1.30.0-standalone/cronjob-batch-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Add label tests for airflow-chart templates. Fix errors.
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_global_labels.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

1.15.5
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.5 (#607)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.5 (#608)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.5
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.15.5 (#609)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

helm 3.18.4, kind 0.29, latest ci runners.
  .circleci/config.yml
  bin/generate_circleci_config.py
  bin/install-ci-tools
Due: ensure-rolebinding-without-dash, circle-config-yaml
