Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, helm-dependency-update

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

Remove k8s 1.24 (#485)
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.24.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.24.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.24.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.24.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.24.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.24.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.24.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.24.0-standalone/secret-v1.json
  tests/k8s_schema/v1.24.0-standalone/service-v1.json
  tests/k8s_schema/v1.24.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.24.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.24.0-standalone/storageclass-storage-v1.json
Due: circle-config-yaml

Remove k8s 1.24 (#485)
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.24.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.24.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.24.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.24.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.24.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.24.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.24.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.24.0-standalone/secret-v1.json
  tests/k8s_schema/v1.24.0-standalone/service-v1.json
  tests/k8s_schema/v1.24.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.24.0-standalone/storageclass-storage-v1.json
Due: circle-config-yaml

update vendor packages (#483)
  values.yaml
Due: none

update chart version
  Chart.yaml
Due: helm-dependency-update

update chart version (#490)
  Chart.yaml
Due: helm-dependency-update

Component updates
  bin/install-ci-tools
  metadata.yaml
  requirements/chart.txt
  requirements/functional.txt
Due: none

Update hooks. Improve circle-config-yaml files regex.
  .circleci/config.yml
  .pre-commit-config.yaml
Due: circle-config-yaml

Add test demonstrating the bug
  tests/chart/test_default_chart.py
Due: none

Make a test that passes on the current configs.
  tests/chart/test_affinity.py
Due: none

Add a breaking test that shows the problem.
  tests/chart/test_affinity.py
Due: none

add ingress.perHostnameIngresses boolean flag
  templates/ingress.yaml
  values.yaml
Due: none

Bump dev component versions
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  requirements/chart.txt
  requirements/functional.txt
Due: circle-config-yaml

Bump kind, helm
  bin/install-ci-tools
Due: none

Update k8s versions. Add script to show latest k8s versions.
  .circleci/config.yml
  .circleci/config.yml.j2
  bin/get-k8s-versions.py
  metadata.yaml
Due: circle-config-yaml

Bump dev component versions (#493)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  bin/install-ci-tools
  metadata.yaml
  requirements/chart.txt
  requirements/functional.txt
Due: circle-config-yaml

Update roles needed for dag-deploy components
  templates/dag-deploy/dag-deploy-role.yaml
Due: none

Add target: test
  Makefile
Due: none

Update hooks. Forbid role-binding with a dash.
  .pre-commit-config.yaml
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  templates/generate-ssl.yaml
Due: none

Extend dag-deploy tests
  tests/chart/test_dag_deploy_role.py
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

Update hooks. Forbid role-binding with a dash.
  .pre-commit-config.yaml
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  templates/generate-ssl.yaml
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

Update hooks. Forbid role-binding with a dash. (#495)
  .pre-commit-config.yaml
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  templates/generate-ssl.yaml
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

support pod securitycontext and container security context
  templates/dag-deploy/dag-server-statefulset.yaml
  values.yaml
Due: none

fix test cases
  tests/chart/test_dag_server_statefulset.py
Due: none

rename securitycontext for dag service
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: none

support per host ingress
  templates/ingress.yaml
Due: none

update dag-deploy permissions for rollback feature (#494)
  Makefile
  templates/dag-deploy/dag-deploy-role.yaml
  tests/chart/test_dag_deploy_role.py
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

rename security context similar to airflow components
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add k8s 1.30, update other k8s versions
  .circleci/config.yml
  metadata.yaml
Due: circle-config-yaml

Rework some shell logic. Update kind and helm.
  bin/install-ci-tools
Due: none

default to k8s 1.30.0
  bin/start-kind-cluster
Due: none

Add k8s 1.30, update various dev component versions (#497)
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/install-ci-tools
  bin/start-kind-cluster
  metadata.yaml
Due: circle-config-yaml

Stump out the HOUSTON_SERVICE_ENDPOINT changes
  templates/dag-deploy/dag-server-statefulset.yaml
  values.yaml
Due: none

Improve sts tests. Add HOUSTON_SERVICE_ENDPOINT tests.
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
Due: none

Add k8s 1.30 schema files
  tests/k8s_schema/v1.30.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.30.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/secret-v1.json
  tests/k8s_schema/v1.30.0-standalone/service-v1.json
  tests/k8s_schema/v1.30.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.30.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/storageclass-storage-v1.json
Due: none

Path conditions:
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py)$, but not: ^(venv|\.vscode|tests/k8s_schema)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema)
