Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

add tests
  .circleci/config.yml
  templates/_helpers.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add tests
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

PINF-1218 - fix custom config sidecar logging (#765)
  .circleci/config.yml
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1234 add missing securityContext fields to pgbouncer certgenerator
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1234 add missing securityContext fields to pgbouncer certgenerator (#766)
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add healthz endpoint and fix incorrect download url
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  tests/chart/test_data/dag-server-auth-sidecar-nginx-cache.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
Due: none

fix spaces
  tests/chart/test_data/dag-server-auth-sidecar-nginx-cache.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
Due: none

update chart version
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-1238 - fix incorrect download url and add healthz endpoint (#767)
  Chart.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-auth-sidecar-nginx-cache.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix config switch
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

fix tests
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  templates/_helpers.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix config
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update chart version 1.18.11
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix logging sidecar custom config type switch (#768)
  Chart.yaml
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add extraEnv support loggingsidecar spec
  templates/_helpers.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update tests
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

update tests
  tests/chart/conftest.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

update chart version 1.18.12
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-1254 - add extraEnv support loggingsidecar spec (#769)
  Chart.yaml
  templates/_helpers.yaml
  tests/chart/conftest.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

added istio to values.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix(vector): avoid interpolation for static log paths
  templates/_helpers.yaml
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
  tests/chart/test_vector_compatibility.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

ensure circleci is up to date
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

point `VECTOR_CONFIG` to /config/vector-…yaml
  tests/chart/test_vector_compatibility.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

style: fix formatting with ruff
  tests/chart/test_vector_compatibility.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add pull if missing since container.create() requires the image to be present on the machine.
  tests/chart/test_vector_compatibility.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

added vs
  templates/api-server/api-server-virtualservice.yaml
  templates/dag-deploy/dag-server-virtualservice.yaml
  templates/flower/flower-virtualservice.yaml
  templates/git-sync-relay/git-sync-relay-virtualservice.yaml
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

modified ingress templates
  templates/dag-deploy/dag-server-ingress.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

updated config.yaml
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

added tests for vs
  tests/chart/test_virtualservice.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Remove env-var interpolation references in the three pod-label referenced in the sidecar ConfigMap, also include ruff to pyproject.toml
  pyproject.toml
  templates/_helpers.yaml
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
  tests/chart/test_vector_compatibility.py
  uv.lock
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml
