Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

add securitycontext
  templates/generate-ssl.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Airflow 3 Exception Handling and Log Level Optimization for Vector Logging Sidecar (#660)
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add temp directory
  templates/generate-ssl.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  templates/generate-ssl.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Adding readOnlyRootFilesystem security context to pgbouncer SSL certificate (#662)
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.14
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.14 (#664)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add writeable mount path to airflow-chart
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add volume to dagserver
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add volume to git-sync relay
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add tests
  tests/chart/test_auth_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Test: add volumemount for gitsync server
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Test: add volumes to gitsync server
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Test: Correct order of volumes
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Test: Correct loops
  tests/chart/test_auth_sidecar.py
  tests/chart/test_dag_server_statefulset.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Fix test_dag_server_statefulset_with_probes_and_authproxy_enabled
  tests/chart/test_dag_server_statefulset.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add proxy_cache_path in apiserver nginx config
  tests/chart/test_data/api-server-auth-sidecar-nginx.conf
Due: none

add proxy_cache_path in dag-server nginx config
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
Due: none

add proxy_cache_path in git-sync-relay nginx config
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
Due: none

fix ingress test
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

fix confs
  tests/chart/test_data/api-server-auth-sidecar-nginx.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
Due: none

add nginx-tmp
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add nginx-tmp for tests
  tests/chart/test_auth_sidecar.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add Chainguard auth-Proxy writeable location for Airflow Components (#666)
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update templates/ingress.yaml
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add debug
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

correct indent
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add context in job definition
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove context
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add template
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

use template
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove space
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix apiserver
  templates/_helpers.yaml
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  tests/chart/test_data/api-server-auth-sidecar-nginx.conf
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add tmplates
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/git-sync-relay/git-sync-relay-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix gitsync tests
  templates/git-sync-relay/git-sync-relay-auth-sidecar-configmap.yaml
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix dag-server
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Path conditions:
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
