Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

fix tests
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

fix rbac service account name for dag downloader (#653)
  templates/_helpers.yaml
  tests/chart/test_airflow.py
  tests/chart/test_dag_deploy_rolebinding.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add worker inbound to api
  templates/api-server/api-server-execution-networkpolicy.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix netpolicy
  templates/api-server/api-server-execution-networkpolicy.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix linting
  templates/api-server/api-server-execution-networkpolicy.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix conditional
  templates/api-server/api-server-execution-networkpolicy.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add network policy tests
  templates/api-server/api-server-execution-networkpolicy.yaml
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix chart config
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update tests/chart/test_airflow.py
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add worker inbound to api (#654)
  Chart.yaml
  templates/api-server/api-server-execution-networkpolicy.yaml
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Use latest kind versions, not latest kubectl versions
  .circleci/config.yml
  metadata.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Refactor to use uv to manage venv
  .pre-commit-config.yaml
  Makefile
  bin/get-recent-kind-versions.py
  bin/run-ci
  pyproject.toml
  requirements/chart.in
  requirements/chart.txt
  requirements/functional.in
  requirements/functional.txt
  tests/requirements.txt
  uv.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

KIND_VERSION="0.30.0"
  bin/install-ci-tools
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Dev updates 2025-10-15 (#655)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  Makefile
  bin/generate_circleci_config.py
  bin/get-recent-kind-versions.py
  bin/install-ci-tools
  bin/run-ci
  metadata.yaml
  pyproject.toml
  requirements/chart.in
  requirements/chart.txt
  requirements/functional.in
  requirements/functional.txt
  tests/requirements.txt
  uv.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add k8s 1.33, 1.34
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.33.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.33.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.33.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.33.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.33.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.33.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.33.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.33.0-standalone/secret-v1.json
  tests/k8s_schema/v1.33.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.33.0-standalone/service-v1.json
  tests/k8s_schema/v1.33.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.33.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.33.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.34.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.34.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.34.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.34.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.34.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.34.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.34.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.34.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.34.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.34.0-standalone/secret-v1.json
  tests/k8s_schema/v1.34.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.34.0-standalone/service-v1.json
  tests/k8s_schema/v1.34.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.34.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.34.0-standalone/storageclass-storage-v1.json
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Bump versions (security update)
  tests/requirements.txt
  uv.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add semver
  pyproject.toml
  uv.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Update test syntax for pytest-testinfra 10
  tests/functional/test_chart.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add k8s 1.33, 1.34 (#656)
  .circleci/config.yml
  metadata.yaml
  pyproject.toml
  tests/functional/test_chart.py
  tests/k8s_schema/v1.33.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.33.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.33.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.33.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.33.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.33.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.33.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.33.0-standalone/secret-v1.json
  tests/k8s_schema/v1.33.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.33.0-standalone/service-v1.json
  tests/k8s_schema/v1.33.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.33.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.33.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.34.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.34.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.34.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.34.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.34.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.34.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.34.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.34.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.34.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.34.0-standalone/secret-v1.json
  tests/k8s_schema/v1.34.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.34.0-standalone/service-v1.json
  tests/k8s_schema/v1.34.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.34.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.34.0-standalone/storageclass-storage-v1.json
  tests/requirements.txt
  uv.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Remove k8s 1.29, 1.30
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.29.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.29.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.29.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.29.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.29.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.29.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.29.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.29.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.29.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.29.0-standalone/secret-v1.json
  tests/k8s_schema/v1.29.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.29.0-standalone/service-v1.json
  tests/k8s_schema/v1.29.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.29.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.29.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.30.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.30.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.30.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/secret-v1.json
  tests/k8s_schema/v1.30.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.30.0-standalone/service-v1.json
  tests/k8s_schema/v1.30.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.30.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/storageclass-storage-v1.json
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Remove k8s 1.29, 1.30 (#657)
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.29.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.29.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.29.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.29.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.29.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.29.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.29.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.29.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.29.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.29.0-standalone/secret-v1.json
  tests/k8s_schema/v1.29.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.29.0-standalone/service-v1.json
  tests/k8s_schema/v1.29.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.29.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.29.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.30.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.30.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.30.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/secret-v1.json
  tests/k8s_schema/v1.30.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.30.0-standalone/service-v1.json
  tests/k8s_schema/v1.30.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.30.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/storageclass-storage-v1.json
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Remove k8s 1.29, 1.30 (#657)
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.29.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.29.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.29.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.29.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.29.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.29.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.29.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.29.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.29.0-standalone/secret-v1.json
  tests/k8s_schema/v1.29.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.29.0-standalone/service-v1.json
  tests/k8s_schema/v1.29.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.29.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.29.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.30.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.30.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.30.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/secret-v1.json
  tests/k8s_schema/v1.30.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.30.0-standalone/service-v1.json
  tests/k8s_schema/v1.30.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.30.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/storageclass-storage-v1.json
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit update
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.15.8
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add validate_objects=False for scc
  tests/chart/test_scc.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add postgresql override
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

replace bitnami images with astronomer quay (#623)
  bin/run-ci
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove postgresql
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add missing schema files
  tests/k8s_schema/v1.31.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.33.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.33.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.33.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.33.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.33.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.33.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.33.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.33.0-standalone/secret-v1.json
  tests/k8s_schema/v1.33.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.33.0-standalone/service-v1.json
  tests/k8s_schema/v1.33.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.33.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.33.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.34.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.34.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.34.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.34.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.34.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.34.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.34.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.34.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.34.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.34.0-standalone/secret-v1.json
  tests/k8s_schema/v1.34.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.34.0-standalone/service-v1.json
  tests/k8s_schema/v1.34.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.34.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.34.0-standalone/storageclass-storage-v1.json
Due: none

add all details
  templates/logging-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  templates/logging-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

fix test
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add correct log level
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add auth response caching for NGINX Ingress Controller deployments
  templates/ingress.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add new sidecar logic
  templates/logging-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

correct test
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add auth response caching for authSidecar deployments
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/ingress.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml
