Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

Fix PVC mode for git-sync-relay shared_volume (#565)
  templates/git-sync-relay/git-sync-relay-pvc.yaml
  tests/chart/test_git_sync_relay_pvc.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

version 1.13.6 (#564)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix git sync command args
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix entrypoint script
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix ingress names
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

quay.io/astronomer/ap-git-sync-relay:0.1.6 with added debugging
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

ap-git-sync-relay 0.1.7
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add authsidecar config changes to git sync
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/git-sync-relay/git-sync-relay-service.yaml
  templates/git-sync-relay/git-sync-relay-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix helper pre-commit
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

rework authsidecar containers logic
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

quay.io/astronomer/ap-git-sync-relay:0.1.8
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

update gsr service tests
  tests/chart/test_git_sync_relay_service.py
Due: ensure-rolebinding-without-dash

update test cases
  templates/git-sync-relay/git-sync-relay-auth-sidecar-configmap.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_data/git-sync-relay-authsidecar-nginx.conf
  tests/chart/test_git_sync_relay_service.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

quay.io/astronomer/ap-git-sync-relay:0.1.8 with added debugging (#567)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

Update tests/chart/test_auth_sidecar.py
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

fix tests
  tests/chart/test_auth_sidecar.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

git sync authsidecar support for webhook mode (#566)
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-auth-sidecar-configmap.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/git-sync-relay/git-sync-relay-service.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_data/git-sync-relay-authsidecar-nginx.conf
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

expose network policy for git sync relay intercommunication
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix tpl values
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update template config
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update test cases
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

expose network policy for git sync relay intercommunication (#569)
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version (#568)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ap-git-sync-relay 0.1.9 which has tiny improvements.
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

ap-git-sync-relay 0.1.9 which has tiny improvements. (#570)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add shutdown timeout
  templates/logging-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add ignore older secs
  templates/logging-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Delete old values comments
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

pre-commit autoupdate
  .pre-commit-config.yaml
Due: circle-config-yaml

Switch to uv pip compile
  Makefile
Due: ensure-rolebinding-without-dash

Regenerate requirements
  requirements/chart.txt
  requirements/functional.txt
Due: ensure-rolebinding-without-dash

Update k8s versions
  .circleci/config.yml
  metadata.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Bump kind, helm
  bin/install-ci-tools
  bin/start-kind-cluster
Due: ensure-rolebinding-without-dash
