Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

update airflow chart version 1.13.2
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version 1.13.2 (#538)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

rename dag server ingress annotation to correct key (#511)
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update localhost upstream host to default ipv4 (#524)
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove auth headers for dag server auth sidecar (#508)
  templates/_helpers.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: ensure-rolebinding-without-dash, circle-config-yaml

6233 dag rollback env (#500)
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix ci failures
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_ingress.py
Due: ensure-rolebinding-without-dash

ap-statsd 0.27.1 (#529)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update values.yaml (#525)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update auth sidecar and dag deploy default versions
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add dag server improvements, update some other components (#540)
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update astronomer airflow chart version 1.10.4
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update oss chart with customization
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

remove authsidecar tls secret hard codings
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix template
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add base tests
  tests/chart/test_ingress.py
Due: ensure-rolebinding-without-dash

fix test cases
  tests/chart/test_ingress.py
Due: ensure-rolebinding-without-dash

move secret to variable
  tests/chart/test_ingress.py
Due: ensure-rolebinding-without-dash

fix pre-commit
  tests/chart/test_ingress.py
Due: ensure-rolebinding-without-dash

remove authsidecar tls secret hard codings (#542)
  templates/ingress.yaml
  tests/chart/test_ingress.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update vendor packages
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update worker connections and worker process
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: ensure-rolebinding-without-dash, circle-config-yaml

update chart version and chart lock
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add base tests
  tests/chart/test_airflow.py
Due: ensure-rolebinding-without-dash

fix pre-commit
  tests/chart/test_airflow.py
Due: ensure-rolebinding-without-dash

update astronome airflow chart with custom forked airflow chart (#541)
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update worker connections and worker process (#544)
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: ensure-rolebinding-without-dash, circle-config-yaml

update vendor packages (#543)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

sync astronomer airflow chart with oss chart
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add tests for pod template
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

sync astronomer airflow chart with oss chart (#545)
  tests/chart/test_pod_template.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update templates/dag-deploy/dag-server-statefulset.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

adding security-contexts
  templates/dag-deploy/dag-server-statefulset.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

test fixes
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

pre-commit
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

fixing test and securitycontexts.pod
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update test
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

update tests
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

rename tests
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

support pod securitycontext and container security context (#496)
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml
