Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, helm-dependency-update

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

Add k8s 1.30 schema files (#499)
  tests/k8s_schema/v1.30.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.30.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/secret-v1.json
  tests/k8s_schema/v1.30.0-standalone/service-v1.json
  tests/k8s_schema/v1.30.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.30.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/storageclass-storage-v1.json
Due: none

update airflow chart version
  Chart.yaml
Due: helm-dependency-update

version 1.10.1 (#501)
  Chart.yaml
  tests/k8s_schema/v1.30.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.30.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.30.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.30.0-standalone/secret-v1.json
  tests/k8s_schema/v1.30.0-standalone/service-v1.json
  tests/k8s_schema/v1.30.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.30.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.30.0-standalone/storageclass-storage-v1.json
Due: helm-dependency-update

Use http for internal houston endpoint
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
Due: none

6233 dag rollback env (#500)
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: none

enhance nginx auth sidecar config
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: none

only connect ipv4
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
Due: none

add authsidecar security context support for dag server
  templates/dag-deploy/dag-server-statefulset.yaml
  values.yaml
Due: none

add test cases
  tests/chart/test_auth_sidecar.py
Due: none

update test cases
  tests/chart/test_auth_sidecar.py
Due: none

add authsidecar security context support for dag server (#503)
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_auth_sidecar.py
  values.yaml
Due: none

update static test cases for nginx
  .pre-commit-config.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: none

Update templates/webserver/webserver-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: none

Update templates/flower/flower-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
Due: none

Update templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
Due: none

update nginx template
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: none

enhance nginx auth sidecar config (#502)
  .pre-commit-config.yaml
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: none

update airflow chart 1.10.1 -> 1.10.2
  Chart.yaml
Due: helm-dependency-update

add resource section to default values
  tests/chart/test_auth_sidecar.py
  values.yaml
Due: none

add resource section to default values (#504)
  tests/chart/test_auth_sidecar.py
  values.yaml
Due: none

ap-dag-deploy 0.4.0 for dag rollbacks
  values.yaml
Due: none

ap-dag-deploy 0.4.0 for dag rollbacks (#505)
  values.yaml
Due: none

update airflow chart version 1.11.0
  Chart.yaml
Due: helm-dependency-update

version 1.11.0 (#506)
  Chart.yaml
Due: helm-dependency-update

create new location for dag server
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
Due: none

update test data
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: none

use common headers for reusable headers
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: none

remove auth headers for dag server auth sidecar (#508)
  templates/_helpers.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: none

update astro managed chart version 1.11.1
  Chart.yaml
Due: helm-dependency-update

update astro managed chart version 1.11.1 (#509)
  Chart.yaml
Due: helm-dependency-update

Dev workflow updates
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/install-ci-tools
  bin/start-kind-cluster
  requirements/chart.txt
  requirements/functional.txt
Due: circle-config-yaml

Dev workflow updates (#510)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/install-ci-tools
  bin/start-kind-cluster
  requirements/chart.txt
  requirements/functional.txt
Due: circle-config-yaml

rename dag server ingress annotation to correct key
  values.yaml
Due: none

Path conditions:
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py)$, but not: ^(venv|\.vscode|tests/k8s_schema)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema)
