Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

update airflow chart version 1.14.3 (#585)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Correct and improve comments about volumeSync parameters.
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Correct and improve comments about volumeSync parameters. (#586)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

enable networkpolicy support for airflow astronomer components
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

sync with airflow network policy flag
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update network policy
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update network policy
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

update network policies
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

fix network policy tests
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

fix network policy
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

enable networkpolicy support for airflow astronomer components (#587)
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Use new ci runners. Reduce resource_class for pre-commit.
  .circleci/config.yml
  .circleci/config.yml.j2
  bin/generate_circleci_config.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Bump a bunch of versions
  .pre-commit-config.yaml
  bin/install-ci-tools
  requirements/chart.txt
  requirements/functional.txt
Due: ensure-rolebinding-without-dash, circle-config-yaml

Dev updates 2025-04-28 (#588)
  .circleci/config.yml
  .circleci/config.yml.j2
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/install-ci-tools
  requirements/chart.txt
  requirements/functional.txt
Due: ensure-rolebinding-without-dash, circle-config-yaml

update backend custom chart version 1.13.3
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add triggerer tests for gitsync
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

add scheduler tests for gitsync
  tests/chart/test_airflow_scheduler.py
Due: ensure-rolebinding-without-dash

update backend custom chart version 1.13.3 (#589)
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add tests
  tests/chart/test_airflow_probes.py
Due: ensure-rolebinding-without-dash

pre-commit fix
  tests/chart/test_airflow_probes.py
Due: ensure-rolebinding-without-dash

correcting name
  tests/chart/test_airflow_probes.py
Due: ensure-rolebinding-without-dash

update version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add dependecy
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update version
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

correct dependencies
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

version correction
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

s/liveliness/liveness/g
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

Remove incompatible property successThreshold
  tests/chart/test_airflow_scheduler.py
Due: ensure-rolebinding-without-dash

Remove triggerer successThreshold in tests
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

Add local pre-commit hook: ensure-liveness-not-liveliness
  .pre-commit-config.yaml
Due: circle-config-yaml

airflow chart dependency version 1.15.0-astro (#590)
  .pre-commit-config.yaml
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

airflow chart dependency version 1.15.0-astro (#590) (#591)
  .pre-commit-config.yaml
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add base init job
  templates/git-sync-relay/git-sync-relay-init-job.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

1.15.1
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add 1.15.1-astro
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update chart-lock
  Chart.lock
Due: ensure-rolebinding-without-dash

version 1.15.1 (#593)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Merge master to release 1.15 (#594)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update
