Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

precommit
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

fix test
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

correct init file
  templates/git-sync-relay/git-sync-relay-init-job.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add tests
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

remove GITSYNC_ROOT
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add job sa
  templates/git-sync-relay/git-sync-relay-init-job.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add SA test
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add pvc in hook
  templates/git-sync-relay/git-sync-relay-init-job.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

pvc removed, commented for now
  templates/git-sync-relay/git-sync-relay-pvc.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

change tests
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_git_sync_relay_init_job.py
  tests/chart/test_git_sync_relay_pvc.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add HOME
  templates/git-sync-relay/git-sync-relay-init-job.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add GIT_SYNC_SYNC_TIMEOUT
  templates/git-sync-relay/git-sync-relay-init-job.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update backend helm chart with version 1.17.9
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix ci config
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add helper
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add sc
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  .circleci/config.yml
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add tests
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

update features
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow.py
  tests/enable_all_features.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix pre-commit
  tests/chart/test_airflow.py
  tests/enable_all_features.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-542 update backend helm chart with version 1.17.10 (#725)
  .circleci/config.yml
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow.py
  tests/enable_all_features.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

use openshift.enabled
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

use openshift.enabled in test
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

fix openshift flag
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

chart update
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-559: Strip fsGroup and runAsUser from git-sync-relay pod securityContext on OpenShift (#726)
  Chart.yaml
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-559: Strip fsGroup and runAsUser from git-sync-relay pod securityContext on OpenShift (#726) (#727)
  Chart.yaml
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add sc
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add template
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_dag_server_statefulset.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add runAsUser: 50000
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

APC-1313: Add dagDeploy.podSecurityContext (#728)
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.32
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.17.32 (#729)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add podAnnotations and metadata annotation support
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update tests for dagDeploy pod annotation and metadata annotations
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash
