Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

helm 3.18.4, kind 0.29, latest ci runners. (#610)
  .circleci/config.yml
  bin/generate_circleci_config.py
  bin/install-ci-tools
Due: ensure-rolebinding-without-dash, circle-config-yaml

Sync 1.15 with master (#611)
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

7107 add global label test (#606)
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/__init__.py
  tests/chart/__init__.py
  tests/chart/conftest.py
  tests/chart/helm_template_generator.py
  tests/chart/test_global_labels.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

1.17
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

test fix
  tests/chart/test_dag_processor.py
Due: ensure-rolebinding-without-dash

test-fix
  tests/chart/test_dag_processor.py
Due: ensure-rolebinding-without-dash

scheduler test fix
  tests/chart/test_airflow_scheduler.py
Due: ensure-rolebinding-without-dash

triggerer test fix
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

update config
  templates/ingress.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix unit tests
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix ingress
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Remove acme
  README.md
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Remove acme (#612)
  README.md
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow helm chart
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add taint,tolleration and node selector support
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add default values
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add tests
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

update tests
  tests/chart/conftest.py
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

Typo
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

Typo
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

add taint, toleration and node selector support (#613)
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/conftest.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

release airflow chart 1.15.6
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add airflow config for dag server
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add airflow config for gitsync relay
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add support for termination grace period config
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add termination grace period for gitsync config
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update test cases
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

\/airflow wide config pattern enablement for node selector, tolleration and taints (#614)
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix workers scheduling ordering
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update defaults tests for pod_template
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
