Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

More git-sync configs
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update some test functions to match astronomer/astronomer
  .pre-commit-config.yaml
  tests/__init__.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/utils/__init__.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add TestReadOnlyRootFilesystem class with failing tests
  tests/chart/test_default_chart.py
  tests/utils/__init__.py
Due: ensure-rolebinding-without-dash

Fix test class name
  tests/chart/test_default_chart.py
Due: ensure-rolebinding-without-dash

Use latest quay.io/astronomer/ap-git-sync-relay
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Set up some RORFS configs and tests. Tweak some code.
  Makefile
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_default_chart.py
  tests/chart/test_pod_template.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix git-sync RORFS volume tests
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

Add tmp volume to dag-server-sts
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Reduce docs count due to OSS changes in newer chart version
  tests/chart/test_default_chart.py
Due: ensure-rolebinding-without-dash

Add RORFS to logging_sidecar_container_spec
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add init config
  templates/logging-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Move extraInitContainers up in priority
  charts/airflow/templates/api-server/api-server-deployment.yaml
  charts/airflow/templates/dag-processor/dag-processor-deployment.yaml
  charts/airflow/templates/scheduler/scheduler-deployment.yaml
  charts/airflow/templates/triggerer/triggerer-deployment.yaml
  charts/airflow/templates/webserver/webserver-deployment.yaml
  charts/airflow/templates/workers/worker-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add log sidecar
  templates/logging-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

pre-commit
  templates/logging-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update logid
  templates/_helpers.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Adds default_queue default for af3
  tests/chart/test_queue_config.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Parameterize tests
  tests/chart/test_queue_config.py
Due: ensure-rolebinding-without-dash

Adds default_queue default for Airflow 3 (#632)
  tests/chart/test_queue_config.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add pgbouncer ssl job labels
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-rolebinding-without-dash

add pgbouncer ssl job labels (#633)
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update chart version 1.17.6
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

pre-commit autoupdate
  .pre-commit-config.yaml
Due: circle-config-yaml

Delete duplicate function definition.
  tests/chart/__init__.py
  tests/chart/test_airflow.py
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_dag_processor.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

Tweak test. Set up a pattern for testing container uniformity.
  tests/chart/test_default_chart.py
Due: ensure-rolebinding-without-dash

Update apache/airflow helm chart REVERT THIS
  charts/airflow/templates/_helpers.yaml
  charts/airflow/templates/api-server/api-server-deployment.yaml
  charts/airflow/templates/dag-processor/dag-processor-deployment.yaml
  charts/airflow/templates/scheduler/scheduler-deployment.yaml
  charts/airflow/templates/triggerer/triggerer-deployment.yaml
  charts/airflow/templates/webserver/webserver-deployment.yaml
  charts/airflow/templates/workers/worker-deployment.yaml
  charts/airflow/values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Switch to repo-state-report.py from astronomer/astronomer
  bin/package-and-release-internal
  bin/repo-state-report.py
  bin/repo-state-report.sh
Due: ensure-rolebinding-without-dash

Revert "Update apache/airflow helm chart REVERT THIS"
  charts/airflow/templates/_helpers.yaml
  charts/airflow/templates/api-server/api-server-deployment.yaml
  charts/airflow/templates/dag-processor/dag-processor-deployment.yaml
  charts/airflow/templates/scheduler/scheduler-deployment.yaml
  charts/airflow/templates/triggerer/triggerer-deployment.yaml
  charts/airflow/templates/webserver/webserver-deployment.yaml
  charts/airflow/templates/workers/worker-deployment.yaml
  charts/airflow/values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Use astronomer/airflow chart oss-helm-chart/1.17.1-astro as a dependency
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix tests
  tests/chart/test_default_chart.py
  tests/chart/test_queue_config.py
Due: ensure-rolebinding-without-dash

Use latest CI runner
  .circleci/config.yml
  bin/generate_circleci_config.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Use xlarge for debugging REVERT THIS
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update postgresql image
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix unit tests. Hopefully fix functional tests.
  tests/chart/test_default_chart.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix tests again
  tests/chart/test_default_chart.py
Due: ensure-rolebinding-without-dash

Fix some syntaxes. Add missing preAirflowExtraInitContainer. Merge two 'workers' definitions.
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
