Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

add test_gsr_deployment_with_ssh_credentials_and_known_hosts
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

correct value
  tests/chart/test_statsd.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

remove secret
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

helper
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove SQLALCHEMY_DATABASE_URI from webserver
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-353: Remove deprecated AIRFLOW__CORE__SQL_ALCHEMY_CONN env var (#711)
  templates/_helpers.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add expose_config: non-sensitive-only
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.25
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add test
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

new test
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Enable sidecar ingestion of airflow file logs for all versions
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-353: Enable non-sensitive Airflow config exposure in UI (#712)
  Chart.yaml
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

use .Release.Name for stasd
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

use metrics.enabled
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

use metrics.enabled
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add metrics.enabled as false for now
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove statsd host
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

repcommit
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

revert precommit
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

rev pre
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix pre commit
  .circleci/config.yml
  bin/generate_circleci_config.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add tests
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_statsd.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

statsd count
  tests/chart/test_statsd.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Use entrypoint
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Fix test
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

remove entrypoint
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove statsd port
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add statsd port
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-305: Git sync relay (#710)
  bin/generate_circleci_config.py
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_statsd.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add custom chart for testing
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.17.26
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

precommit
  bin/example_project/dags/example_dag.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

ruff
  bin/example_project/dags/example_dag.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Release 1.17.26 (#715)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-305: Git sync relay (#710) (#714)
  Chart.yaml
  bin/generate_circleci_config.py
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_statsd.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix chart version
  .circleci/config.yml
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix ci
  .circleci/config.yml
  Chart.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-436 - Add multiDB support for airflow chart (#716)
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Path conditions:
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
