Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

update airflow vendor images
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow vendor images (#577)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version 1.14.1
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Update BASE_URL_SPEC, mkdir(parents=True)
  tests/chart/helm_template_generator.py
  tests/k8s_schema/v1.32.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.32.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.32.0-standalone/storageclass-storage-v1.json
Due: ensure-rolebinding-without-dash

sidecar resource support for dag server
  templates/_helpers.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update test cases
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

fix test cases
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

support logging sidecar resource support (#580)
  templates/_helpers.yaml
  tests/chart/test_dag_server_statefulset.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Adds support for allowing different namespaces to communicate to auth sidecar
  README.md
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Adds k8s schema support for different manifests
  tests/k8s_schema/v1.32.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.32.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.32.0-standalone/storageclass-storage-v1.json
Due: none

Update BASE_URL_SPEC, mkdir(parents=True) (#578)
  tests/chart/helm_template_generator.py
  tests/k8s_schema/v1.32.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.32.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.32.0-standalone/storageclass-storage-v1.json
Due: ensure-rolebinding-without-dash

update flags
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Code review changes
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

add base scc feature json schema
  tests/chart/test_scc.py
  tests/k8s_schema/v1.29.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.30.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.31.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.32.0-standalone/securitycontextconstraints-security-v1.json
Due: ensure-rolebinding-without-dash

update scc tests
  tests/chart/test_scc.py
Due: ensure-rolebinding-without-dash

add dag processor sa helper templates
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add dag processor scc support
  templates/_helpers.yaml
  templates/airflow-scc-anyuid.yaml
  tests/chart/test_scc.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Adds logic for accepting connections from different namespaces to authSidecar (#581)
  README.md
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add dag processor scc support
  tests/chart/test_scc.py
Due: ensure-rolebinding-without-dash

add dag processor test cases
  tests/chart/test_dag_processor.py
Due: ensure-rolebinding-without-dash

add dag processor test cases
  tests/chart/test_scc.py
Due: ensure-rolebinding-without-dash

fix tests
  tests/chart/test_dag_processor.py
Due: ensure-rolebinding-without-dash

validate dag processor tests defaults
  tests/chart/test_dag_processor.py
Due: ensure-rolebinding-without-dash

add base scc feature json schema and dag processor testing (#582)
  templates/_helpers.yaml
  templates/airflow-scc-anyuid.yaml
  tests/chart/test_dag_processor.py
  tests/chart/test_scc.py
  tests/k8s_schema/v1.29.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.30.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.31.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.32.0-standalone/securitycontextconstraints-security-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_dag_processor.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version (#583)
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_dag_processor.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update dag downloader rbac
  templates/dag-deploy/dag-deploy-rolebinding.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update tests
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  tests/chart/test_dag_deploy_rolebinding.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update dag downloader rbac for dag processor (#584)
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  tests/chart/test_dag_deploy_rolebinding.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version 1.14.3
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version 1.14.3 (#585)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update
