Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

update chart version 1.13.4
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update chart version 1.13.4 (#547)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

pgbouncer-exporter 0.18.0
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

pgbouncer-exporter 0.18.0 (#548)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Switch from maintainers-astronomer to astronomer-software
  CODEOWNERS
Due: ensure-rolebinding-without-dash

version 1.13.5
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Switch from maintainers-astronomer to astronomer-software (#549)
  CODEOWNERS
Due: ensure-rolebinding-without-dash

update worker connections and worker process (#544)
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_data/dag-server-authsidecar-nginx.conf
Due: ensure-rolebinding-without-dash, circle-config-yaml

update vendor packages (#543)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version 1.10.5
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Regenerate requirements
  requirements/chart.txt
  requirements/functional.txt
Due: ensure-rolebinding-without-dash

Update to latest kind versions
  metadata.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Expand ruff linting. Remove black.
  .pre-commit-config.yaml
  pyproject.toml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix colors. Reduce column width.
  Makefile
Due: ensure-rolebinding-without-dash

Bump some versions
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  bin/install-ci-tools
  bin/start-kind-cluster
Due: ensure-rolebinding-without-dash, circle-config-yaml

Regenerate .circleci/config.yml
  .circleci/config.yml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Apply ruff-format
  tests/chart/helm_template_generator.py
  tests/chart/test_airflow.py
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_deploy_role.py
  tests/chart/test_dag_deploy_rolebinding.py
  tests/chart/test_dag_server_service.py
  tests/chart/test_dag_server_serviceaccount.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_default_chart.py
  tests/chart/test_extra_objects.py
  tests/chart/test_git_sync_relay_configmap.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_service.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_pod_template.py
  tests/chart/test_scc.py
  tests/chart/test_statsd.py
  tests/functional/test_chart.py
Due: ensure-rolebinding-without-dash

Add PR description check
  .github/workflows/pr_checks.yml
Due: ensure-rolebinding-without-dash

Setup venv using uv if possible
  Makefile
Due: ensure-rolebinding-without-dash

Dev updates 2024-12-03 (#550)
  .circleci/config.yml
  .github/workflows/pr_checks.yml
  .pre-commit-config.yaml
  Makefile
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  bin/install-ci-tools
  bin/start-kind-cluster
  metadata.yaml
  pyproject.toml
  requirements/chart.txt
  requirements/functional.txt
  tests/chart/helm_template_generator.py
  tests/chart/test_airflow.py
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_deploy_role.py
  tests/chart/test_dag_deploy_rolebinding.py
  tests/chart/test_dag_server_service.py
  tests/chart/test_dag_server_serviceaccount.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_default_chart.py
  tests/chart/test_extra_objects.py
  tests/chart/test_git_sync_relay_configmap.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_service.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_pod_template.py
  tests/chart/test_scc.py
  tests/chart/test_statsd.py
  tests/functional/test_chart.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Dev updates 2024-12-03 (#550)
  .circleci/config.yml
  .github/workflows/pr_checks.yml
  .pre-commit-config.yaml
  Makefile
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  bin/install-ci-tools
  bin/start-kind-cluster
  metadata.yaml
  pyproject.toml
  requirements/chart.txt
  requirements/functional.txt
  tests/chart/helm_template_generator.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_deploy_role.py
  tests/chart/test_dag_deploy_rolebinding.py
  tests/chart/test_dag_server_service.py
  tests/chart/test_dag_server_serviceaccount.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_default_chart.py
  tests/chart/test_extra_objects.py
  tests/chart/test_git_sync_relay_configmap.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_service.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_scc.py
  tests/chart/test_statsd.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Whitespace and typo fix
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Whitespace and typo fix (#551)
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add ruff-format and apply it
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  tests/chart/test_airflow.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/functional/test_chart.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

rebuild python requirements
  requirements/chart.txt
  requirements/functional.txt
Due: ensure-rolebinding-without-dash

pre-commit autoupdate
  .pre-commit-config.yaml
Due: circle-config-yaml

Use latest k8s 1.31
  .circleci/config.yml
  metadata.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Make helm_template_generator.py match astronomer/astronomer version a lot more
  tests/chart/helm_template_generator.py
Due: ensure-rolebinding-without-dash

Add k8s schema file
  tests/k8s_schema/v1.31.0-standalone/cronjob-batch-v1.json
Due: none

Dev updates 2024-12-12 (#552)
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  metadata.yaml
  requirements/chart.txt
  requirements/functional.txt
  tests/chart/helm_template_generator.py
  tests/chart/test_airflow.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/functional/test_chart.py
  tests/k8s_schema/v1.31.0-standalone/cronjob-batch-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml

Dev updates 2024-12-12 (#552)
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  metadata.yaml
  requirements/chart.txt
  requirements/functional.txt
  tests/chart/helm_template_generator.py
  tests/chart/test_airflow.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/k8s_schema/v1.31.0-standalone/cronjob-batch-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml

Find all git-sync-relay templates
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash

Add a d2 doc showing the git-clone architecture
  docs/git-clone.d2
Due: ensure-rolebinding-without-dash

Add pvc k8s_schema files
  tests/k8s_schema/v1.27.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.28.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.29.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.30.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.31.0-standalone/persistentvolumeclaim-v1.json
Due: none
