Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

PINF-638 - add extraannotation support (#730)
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.11
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.17.33
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

new lock
  Chart.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Avoid hostname binary in Celery worker probe
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Avoid importing Airflow in probe app lookup
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Remove wrapper probe render test
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Release 1.17.11 (#731)
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update cert
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.34
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

precommit
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

lock
  Chart.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Update new chart version (#733)
  .circleci/config.yml
  Chart.lock
  Chart.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Update new chart version (#733) (#734)
  .circleci/config.yml
  Chart.lock
  Chart.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Create webserver-virtualservice.yaml
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update values.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update webserver-virtualservice.yaml
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix the tpl
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix the tpl
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix hosts
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix port mapping
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add vs for flower
  templates/flower/flower-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add vs for flower for api-server
  templates/api-server/api-server-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

vs for webserver was modified
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update api-server-virtualservice.yaml
  templates/api-server/api-server-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add vs for dag-server
  templates/dag-deploy/dag-server-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update ingress.yaml and add condition for dag-server
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add . for file name parsing
  templates/logging-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add . for file name parsing (#736)
  templates/logging-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.35
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

1.17.35 (#737)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Add LLM files
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/functional-tests/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .claude/skills
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add MCP and extensions
  .vscode/extensions.json
  .vscode/mcp.json
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update helm version
  .devcontainer/Dockerfile
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

All containers hardened
  templates/_helpers.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_container_security_context.py
  tests/chart/test_dag_server_statefulset.py
  tests/enable_all_features.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Path conditions:
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
