Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

Delete duplicate test case. Fix failing test.
  templates/git-sync-relay/git-sync-relay-pvc.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

6789 git-sync volume support (#556)
  .gitignore
  docs/git-clone.d2
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-pvc.yaml
  tests/__init__.py
  tests/chart/helm_template_generator.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/k8s_schema/v1.27.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.28.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.29.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.30.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.31.0-standalone/persistentvolumeclaim-v1.json
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update git-sync-relay docs
  docs/git-clone.d2
  docs/git-sync-gsr-git_daemon.svg
  docs/git-sync-gsr-shared_volume.svg
  docs/git-sync-relay.md
  docs/git-sync-relay.svg
Due: ensure-rolebinding-without-dash

Remove width
  docs/git-sync-relay.md
Due: ensure-rolebinding-without-dash

Add values exmample. Correct value in diagrams.
  docs/git-sync-gsr-git_daemon.svg
  docs/git-sync-gsr-shared_volume.svg
  docs/git-sync-relay.md
Due: ensure-rolebinding-without-dash

Fix wording
  docs/git-sync-relay.md
Due: ensure-rolebinding-without-dash

Impove wording even moar 🦁
  docs/git-sync-relay.md
Due: ensure-rolebinding-without-dash

6789 git-sync docs fixes (#559)
  docs/git-clone.d2
  docs/git-sync-gsr-git_daemon.svg
  docs/git-sync-gsr-shared_volume.svg
  docs/git-sync-relay.md
  docs/git-sync-relay.svg
Due: ensure-rolebinding-without-dash

Stump out some variables that will probably be used for webhook mode.
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Start some chart tests for git-sync-webhook features
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Start git-sync-relay ingress
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart backend version 1.13.2-astro
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update chart hash and chart lock
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix pre-commit
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update log groomer sidecar tests
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash

update scheduler with log groomer tests
  tests/chart/test_airflow_scheduler.py
Due: ensure-rolebinding-without-dash

add git sync relay service account support
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-serviceaccount.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update default values
  templates/git-sync-relay/git-sync-relay-serviceaccount.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add service account support in git sync deployment
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add git sync relay tests
  tests/chart/test_git_sync_relay_serviceaccount.py
Due: ensure-rolebinding-without-dash

add git sync relay service account support (#561)
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-serviceaccount.yaml
  tests/chart/test_git_sync_relay_serviceaccount.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart backend version 1.13.2-astro (#560)
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Update git-sync-relay service to support webhook
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/git-sync-relay/git-sync-relay-service.yaml
  tests/chart/__init__.py
  tests/chart/test_git_sync_relay_service.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Tiny tweak
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add extraAnnotations as requested by vishnu
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

upgrading ap-vendor packages
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add vishnu's authSidecar.annotations changes
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add ingress changes from vishnu
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

upgrade ap-vendor packages (#563)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

ap-git-sync-relay:0.1.1 which is the target version in PR right now
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add gsr networkpolicy. Copy some tests and start them. rename git_sync_relay to gsr in all tests.
  templates/git-sync-relay/git-sync-relay-configmap.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_serviceaccount.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix tests
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_serviceaccount.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Tweak ingress rules
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

quay.io/astronomer/ap-git-sync-relay:0.1.5
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Address PR feedback
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

6786 gitsync webhook (#562)
  templates/git-sync-relay/git-sync-relay-configmap.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-service.yaml
  tests/chart/__init__.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_service.py
  tests/chart/test_git_sync_relay_serviceaccount.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

version 1.13.6
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix PVC mode for git-sync-relay shared_volume
  templates/git-sync-relay/git-sync-relay-pvc.yaml
  tests/chart/test_git_sync_relay_pvc.py
Due: ensure-rolebinding-without-dash, circle-config-yaml
