Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

update configmap
  templates/kubernetes-events-exporter/event-exporter-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix config and rbac
  templates/kubernetes-events-exporter/event-exporter-configmap.yaml
  templates/kubernetes-events-exporter/event-exporter-role.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix service account
  templates/kubernetes-events-exporter/event-exporter-rolebinding.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix chart tpl
  templates/kubernetes-events-exporter/event-exporter-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update lock
  Chart.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add 1.17.22
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-272: Add airflow_logs_dir helper template to add release-name for worker component (#704)
  .circleci/config.yml
  Chart.lock
  Chart.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-272: Add airflow_logs_dir helper template to add release-name for worker component (#704) (#705)
  .circleci/config.yml
  Chart.lock
  Chart.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update ap-certgenerator
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Rework index and publish logic. Add more detailed outputs.
  bin/package-and-release-internal
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add scheduler t execution network policy
  templates/api-server/api-server-execution-networkpolicy.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

precommit
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add localexecutor
  templates/api-server/api-server-execution-networkpolicy.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.6
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

use localexecutor
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

correct test
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

PINF-336: Update Certgenerator and also add local executor network policy (#706)
  Chart.lock
  Chart.yaml
  bin/package-and-release-internal
  templates/api-server/api-server-execution-networkpolicy.yaml
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

use custom afchart
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

use 1.17.7
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

lock
  Chart.lock
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add linear.app for PR
  .github/workflows/pr_checks.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

1.17.24
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Use new apc-airflow chart (#708)
  .github/workflows/pr_checks.yml
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Use new apc-airflow chart (#708) (#709)
  .github/workflows/pr_checks.yml
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

install uv to fix airflow-test failing
  bin/install-ci-tools
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

move uv to the right path
  bin/install-ci-tools
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Finish these templates
  templates/external-secrets/external-secrets.yaml
  templates/external-secrets/push-secrets.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Finish this off. Have validated in two clusters.
  templates/external-secrets/external-secrets.yaml
  templates/external-secrets/push-secrets.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Remove default secretStore.name
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Better wording. Fix syntax error.
  Makefile
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

revert pyproject.toml changes and added local development workflow howto
  README.md
  pyproject.toml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

revert gitignore
  .gitignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add git-sync-relay deployment
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add values file changes
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add missing end
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

correct tests
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash
