Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

Make authProxy securityContext overridable
  templates/_helpers.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Improve git-sync securityContext
  tests/chart/test_container_security_context.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add llm dev files
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/functional-tests/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .claude/skills
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Fix CODEOWNERS
  CODEOWNERS
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Update .gitignore
  .gitignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add llm dev files (#738)
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/functional-tests/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .claude/skills
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  CODEOWNERS
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add information about CI not running openshift tests. Use consistent terminology.
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  CLAUDE.md
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

add gsr support
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/git-sync-relay/git-sync-relay-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add chart
  templates/logging-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

1.17.36
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Restore AF3 version gate for log path inclusion (#740)
  Chart.yaml
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add agents
  .helmignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

devcontainer as well
  .helmignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Exclude .agents, .claude, .devcontainer from helm package (#742)
  .helmignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Release 1.17 (#741)
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/functional-tests/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .claude/skills
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .helmignore
  CODEOWNERS
  Chart.yaml
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Make git-sync-relay seccompProfile and logging_sidecar securityContext match expected behavior
  templates/_helpers.yaml
  tests/chart/test_container_security_context.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add ripgrep
  .devcontainer/Dockerfile
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Remove unnecessary ignores that were only meant for .helmignore
  .gitignore
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Overridable sidecar securityContext null-safety
  templates/_helpers.yaml
  tests/chart/test_container_security_context.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Reformat so prettier doesn't break things and it still works for claude
  CLAUDE.md
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Go back to requiring rorfs in authSidecar
  templates/_helpers.yaml
  tests/chart/test_container_security_context.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

v1.18.0
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-585 improve securityContext defaults (#739)
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .devcontainer/Dockerfile
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  CLAUDE.md
  Chart.yaml
  templates/_helpers.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_container_security_context.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/enable_all_features.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

First pass on PINF-425
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add auto_update.cooldown_days=7
  .pre-commit-config.yaml
Due: circle-config-yaml

Update hooks
  .pre-commit-config.yaml
Due: circle-config-yaml

Remove configurable credentialsSecretKey token and username
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Fix silent rendering bug
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Refactor for new houston-api changes
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Address copilot concern
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-810: dual-host deployment Ingress for CP HA global-parent alias
  templates/_helpers.yaml
  templates/ingress.yaml
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Regenerate .circleci/config.yml (monthly CI image tag bump)
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-810: dual-host deployment Ingress for CP HA global-parent alias (#744)
  .circleci/config.yml
  templates/_helpers.yaml
  templates/ingress.yaml
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-425 add https git-sync from private repo (#743)
  .pre-commit-config.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

auto pre-commit updates
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

v1.18.1
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

v1.18.1 (#745)
  .circleci/config.yml
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-810: dual-host deployment Ingress for CP HA global-parent alias (#744) (#746)
  templates/_helpers.yaml
  templates/ingress.yaml
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.18.2
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update
