Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

update pod template workers tests
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

Update tests/chart/test_pod_template.py
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

fix workers scheduling ordering (#615)
  tests/chart/test_pod_template.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version 1.15.7
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version 1.17.0
  Chart.lock
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

airflow oss helm chart 1.17.x official release changes (#616)
  Chart.lock
  Chart.yaml
  templates/_helpers.yaml
  templates/ingress.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_dag_processor.py
  tests/chart/test_triggerer.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add execution api server url
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add execution api server url (#617)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove houston service endpoint from dagserver
  templates/dag-deploy/dag-server-statefulset.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update tests
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

fix tests
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

remove houston service endpoint from dagserver (#618)
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

add api-server
  templates/logging-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_logging_sidecar.py
Due: ensure-rolebinding-without-dash

Addapiserver (#619)
  templates/logging-sidecar-configmap.yaml
  tests/chart/test_logging_sidecar.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow astronomer chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

modified the helm config for git-sync-relay
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fixed the statsd port
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

modified statsd override mapptings.
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add api server auth sidecar template
  templates/api-server/api-server-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

authsidecar conditions
  templates/api-server/api-server-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

correct name
  templates/api-server/api-server-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

correct spacing
  templates/api-server/api-server-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

test json
  tests/k8s_schema/v1.29.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.31.0-standalone/cronjob-batch-v1.json
Due: none

pre-commit
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

add 'feat-authsidecar-config-api-server' for now
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

add commit
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

add prod release
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

revert the circleci config
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

add apiserver conf test_data
  tests/chart/test_data/api-server-authsidecar-nginx.conf
Due: none

add nginx_conf
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

correct index
  tests/chart/test_auth_sidecar.py
  tests/chart/test_data/api-server-authsidecar-nginx.conf
Due: ensure-rolebinding-without-dash

Add Auth Sidecar Support for Airflow 3.x API Server (#621)
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_data/api-server-authsidecar-nginx.conf
  tests/k8s_schema/v1.29.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.31.0-standalone/cronjob-batch-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart and releases
  Chart.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix tests
  tests/enable_all_features.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml
