Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.5"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: bd325c947efcba13c03b4f4c93d882f2f83ed6ff
    hooks:
      - id: remove-en-dashes
      - id: remove-unicode-non-breaking-spaces
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
  - repo: local
    hooks:
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.3"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

ap-statsd 0.27.1 (#529)
  values.yaml
Due: none

update upstream airflow helm chart
  Chart.yaml
Due: helm-dependency-update

update chart sha versions
  Chart.lock
  Chart.yaml
Due: helm-dependency-update

update upstream airflow helm chart (#530)
  Chart.lock
  Chart.yaml
Due: helm-dependency-update

Add k8s 1.31, update existing versions
  .circleci/config.yml
  bin/install-ci-tools
  metadata.yaml
Due: circle-config-yaml

Add cached k8s schema files
  tests/k8s_schema/v1.31.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.31.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.31.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.31.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.31.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.31.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.31.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.31.0-standalone/secret-v1.json
  tests/k8s_schema/v1.31.0-standalone/service-v1.json
  tests/k8s_schema/v1.31.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.31.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.31.0-standalone/storageclass-storage-v1.json
Due: none

Support kubernetes 1.31 (#531)
  .circleci/config.yml
  bin/install-ci-tools
  metadata.yaml
  tests/k8s_schema/v1.31.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.31.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.31.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.31.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.31.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.31.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.31.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.31.0-standalone/secret-v1.json
  tests/k8s_schema/v1.31.0-standalone/service-v1.json
  tests/k8s_schema/v1.31.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.31.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.31.0-standalone/storageclass-storage-v1.json
Due: circle-config-yaml

make update-requirements
  requirements/chart.txt
  requirements/functional.txt
Due: none

ci_runner_version 2024-09
  .circleci/config.yml
  bin/generate_circleci_config.py
Due: circle-config-yaml

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Configure line-length, ruff, black through pyproject.toml. Apply suggested fixes.
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  pyproject.toml
  tests/__init__.py
  tests/chart/__init__.py
  tests/chart/conftest.py
  tests/chart/helm_template_generator.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_deploy_rolebinding.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_triggerer.py
  tests/functional/test_chart.py
Due: circle-config-yaml

Bump helm, kind
  bin/install-ci-tools
Due: none

update astronomer sa templates
  templates/_helpers.yaml
Due: none

add service account default value test case
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

fix test cases linting
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

Dev updates 2024-09-12 (#532)
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  bin/install-ci-tools
  pyproject.toml
  requirements/chart.txt
  requirements/functional.txt
  tests/__init__.py
  tests/chart/__init__.py
  tests/chart/conftest.py
  tests/chart/helm_template_generator.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_deploy_rolebinding.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_triggerer.py
  tests/functional/test_chart.py
Due: circle-config-yaml

Dev updates 2024-09-12 (#532)
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/generate_circleci_config.py
  bin/get-k8s-versions.py
  bin/install-ci-tools
  pyproject.toml
  requirements/chart.txt
  requirements/functional.txt
  tests/__init__.py
  tests/chart/__init__.py
  tests/chart/conftest.py
  tests/chart/helm_template_generator.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_triggerer.py
  tests/functional/test_chart.py
Due: circle-config-yaml

update astronomer airflow chart service account update (#533)
  templates/_helpers.yaml
  tests/chart/test_dag_deploy_rolebinding.py
Due: none

update astronomer airflow chart version 1.11.7
  Chart.yaml
Due: helm-dependency-update

update astronomer airflow chart version 1.11.7 (#534)
  Chart.yaml
Due: helm-dependency-update

update standard template convention for dag server service account
  templates/_helpers.yaml
  values.yaml
Due: none

update dag server service account
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  templates/dag-deploy/dag-server-serviceaccount.yaml
  tests/chart/test_dag_server_serviceaccount.py
Due: none

rework naming to use old naming
  templates/_helpers.yaml
  tests/chart/test_dag_server_serviceaccount.py
Due: none

update oss airflow chart 1.13.1
  Chart.yaml
Due: helm-dependency-update

update chart lock sha checksum
  Chart.lock
Due: none

Add Beyoncé Rule tests for OSS airflow chart strategy
  tests/chart/test_airflow_scheduler.py
Due: none

Update values.yaml
  values.yaml
Due: none

update test cases
  tests/chart/test_dag_server_serviceaccount.py
Due: none

update astronomer chart version
  Chart.yaml
Due: helm-dependency-update

add missing tests
  tests/chart/test_dag_server_serviceaccount.py
Due: none

update oss airflow chart 1.13.1 (#535)
  Chart.lock
  Chart.yaml
Due: helm-dependency-update

implement astro.dagDeploy.serviceAccount.create and astro.dagDeploy.service… (#528)
  templates/_helpers.yaml
  templates/dag-deploy/dag-deploy-role.yaml
  templates/dag-deploy/dag-deploy-rolebinding.yaml
  templates/dag-deploy/dag-server-serviceaccount.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  tests/chart/test_dag_server_serviceaccount.py
  values.yaml
Due: none

Add Beyoncé Rule tests for OSS airflow chart strategy (#536)
  tests/chart/test_airflow_scheduler.py
Due: none

sync oss pod template to astronomer airflow chart
  values.yaml
Due: none

add pod template tests
  tests/chart/test_pod_template.py
Due: none

add label overrides test cases
  tests/chart/test_pod_template.py
Due: none

add missing pod template test cases
  tests/chart/test_pod_template.py
Due: none

add missing pod template features
  tests/chart/test_pod_template.py
  values.yaml
Due: none

sync OSS chart 1.13.x pod template to astronomer airflow chart (#537)
  tests/chart/test_pod_template.py
  values.yaml
Due: none
