Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

remove gcp debug
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

correct annotations for ingress
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add authCache.enabled condition
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add proxy_set_header to template
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove extra proxy header
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add helper for webserver
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix space
  templates/_helpers.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix gitsync relay test
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
Due: none

correct indent
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/git-sync-relay/git-sync-relay-auth-sidecar-configmap.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

correct test
  tests/chart/test_data/api-server-auth-sidecar-nginx.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
Due: none

add authsidecar annotation flag
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

correct indentation
  tests/chart/test_data/api-server-auth-sidecar-nginx.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
Due: none

removed extra end
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove {{- if and .Values.authSidecar.enabled condition
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix ingress templates
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

precommit
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add secretName: {{ .Values.ingress.tlsSecretName | default "~" }}
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix ingress secret name
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix gitsync relay secretname
  templates/git-sync-relay/git-sync-relay-ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add auth response caching for authSidecar deployments (#668)
  templates/_helpers.yaml
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/git-sync-relay/git-sync-relay-auth-sidecar-configmap.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_data/api-server-auth-sidecar-nginx.conf
  tests/chart/test_data/dag-server-auth-sidecar-nginx.conf
  tests/chart/test_data/git-sync-relay-auth-sidecar-nginx.conf
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.15
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

1.17.15 (#670)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

apache oss helm chart 1.17.2-astro
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add redis persistentVolumeClaimRetentionPolicy tests (which do not exist in OSS airflow)
  tests/chart/test_redis.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add commented values hinting at what is possible.
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update initialDelaySeconds defaults to 30s
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add base tests
  tests/chart/test_airflow.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

update initialDelaySeconds defaults to 30s (#676)
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Delete redis PVC by default
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

danielh/pinf-10 delete redis PVC by default when redis sts is removed (#674)
  Chart.lock
  Chart.yaml
  tests/chart/test_redis.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add pgbouncer labels support
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add tests
  tests/chart/test_pgbouncer.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

PLX-106 - add pgbouncer labels support (#677)
  Chart.lock
  Chart.yaml
  tests/chart/test_pgbouncer.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

version 1.17.16 with OSS 1.17.3-astro
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update test for OSS airflow chart pod-log-reader role changes
  tests/chart/test_default_chart.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Version 1.17.16 with OSS 1.17.3-astro (#678)
  Chart.lock
  Chart.yaml
  tests/chart/test_default_chart.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

simplify path
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

test fix
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

1.17.17
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-20: Simplify Flower Ingress Path Pattern in Helm Chart (#679)
  Chart.yaml
  templates/ingress.yaml
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Path conditions:
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
