Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

PINF-1073 disable caching for index.yaml in internal helm repo (#757)
  .circleci/config.yml
  .circleci/config.yml.j2
  bin/package-and-release-internal
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1073 disable caching for index.yaml in internal helm repo (#757)
  .circleci/config.yml
  .circleci/config.yml.j2
  bin/package-and-release-internal
  bin/repo-state-report.py
  bin/repo-state-report.sh
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update ci runner
  .circleci/config.yml
  bin/generate_circleci_config.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Fix ruff complaint
  tests/__init__.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

adopt airflow ingress global flag
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

template cleanup and ingress changes
  templates/ingress.yaml
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  templates/ingress.yaml
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add dag server ingress
  templates/dag-deploy/dag-server-ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix pre-commit
  templates/dag-deploy/dag-server-ingress.yaml
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

remove the ctx
  templates/dag-deploy/dag-server-ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

improve ingress
  templates/dag-deploy/dag-server-ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1085 - adopt airflow ingress global flag (#758)
  templates/dag-deploy/dag-server-ingress.yaml
  templates/git-sync-relay/git-sync-relay-ingress.yaml
  templates/ingress.yaml
  tests/chart/test_ingress.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update release helm version 1.18.7
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update release helm version 1.18.7 (#759)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Add resources field to the pgbouncer certgenerator container
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Add resources field to the pgbouncer-certgenerator container (#760)
  templates/generate-ssl.yaml
  tests/chart/test_pgbouncer_certgenerator.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Assert dag-server/git-sync-relay Services default to ClusterIP; add MountPropagation non-regression test
  tests/chart/test_container_security_context.py
  tests/chart/test_dag_server_service.py
  tests/chart/test_git_sync_relay_service.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

image updates
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Fix self-contradictory PSA wording in mountPropagation test comment
  tests/chart/test_container_security_context.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

PINF-989 fill k8s security testing gaps (#761)
  .circleci/config.yml
  tests/chart/test_container_security_context.py
  tests/chart/test_dag_server_service.py
  tests/chart/test_git_sync_relay_service.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1150: stagger scheduler readinessProbe from livenessProbe
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

apc-airflow 1.17.16-astro
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

v1.18.8
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Make bin/generate_circleci_config.py compatible with git-worktrees
  bin/generate_circleci_config.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1150 stagger scheduler probes (#762)
  Chart.lock
  Chart.yaml
  bin/generate_circleci_config.py
  tests/chart/test_airflow.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add default auth_manager config
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

add default auth_manager config (#763)
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1190: repoint git-sync-relay init hook Job at ap-git-sync-relay + git-sync-once
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  templates/git-sync-relay/git-sync-relay-init-job.yaml
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1190: wire private-CA trust into the init Job; fail fast on clone errors
  templates/git-sync-relay/git-sync-relay-init-job.yaml
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1190: bump gitSyncRelay.images.gitSync default tag to 0.5.0
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1190: mirror scheduling/securityContext fields, fix PVC upgrade lifecycle
  templates/git-sync-relay/git-sync-relay-init-job.yaml
  tests/chart/test_git_sync_relay_init_job.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-816: default readinessProbe on git-sync-relay's git-sync container
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-816: readinessProbe failureThreshold: 1, not 3
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-816: trim verbose comments down to essentials
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1190: address human review -- restore plain PVC to fix upgrade-prune blocker
  templates/git-sync-relay/git-sync-relay-init-job.yaml
  templates/git-sync-relay/git-sync-relay-pvc.yaml
  tests/chart/test_git_sync_relay_init_job.py
  tests/chart/test_git_sync_relay_pvc.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

release 1.18.9 sync master
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-816: default readinessProbe on git-sync-relay's git-sync container (#764)
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix custom config sidecar logging
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml
