Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

add temp - 'fix-7872-chart-release'
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update templates/webserver/webserver-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update templates/flower/flower-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add ""
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

add controlplaneBaseDomain
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add dataPlaneBaseDomain
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add platform values houstonAuthServiceEndpointUrl and baseDomain to construct configmap (#626)
  .circleci/config.yml
  .circleci/config.yml.j2
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_auth_sidecar.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove fix
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove fix (#627)
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version 1.17.4
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version 1.17.4 (#628)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix some syntaxes and assertion statements
  tests/chart/test_dag_server_statefulset.py
Due: ensure-rolebinding-without-dash

More git-sync configs
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix gitconfig in git-sync container when using RORFS
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Fix test class name
  tests/chart/test_default_chart.py
Due: ensure-rolebinding-without-dash

Set up some RORFS configs and tests. Tweak some code.
  Makefile
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_default_chart.py
  tests/chart/test_pod_template.py
  tests/utils/chart.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Update some test functions to match astronomer/astronomer
  .pre-commit-config.yaml
  tests/__init__.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/utils/__init__.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Use utils/chart.py from astronomer chart
  requirements/chart.in
  requirements/chart.txt
  requirements/functional.txt
  tests/chart/test_airflow.py
  tests/chart/test_airflow_sa.py
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_auth_sidecar.py
  tests/chart/test_cleanup_cron.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_dag_deploy_role.py
  tests/chart/test_dag_deploy_rolebinding.py
  tests/chart/test_dag_processor.py
  tests/chart/test_dag_server_service.py
  tests/chart/test_dag_server_serviceaccount.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_default_chart.py
  tests/chart/test_docker_images.py
  tests/chart/test_extra_objects.py
  tests/chart/test_git_sync_relay_configmap.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  tests/chart/test_git_sync_relay_pvc.py
  tests/chart/test_git_sync_relay_service.py
  tests/chart/test_git_sync_relay_serviceaccount.py
  tests/chart/test_global_labels.py
  tests/chart/test_ingress.py
  tests/chart/test_logging_sidecar.py
  tests/chart/test_pgbouncer.py
  tests/chart/test_pgbouncer_certgenerator.py
  tests/chart/test_pod_template.py
  tests/chart/test_scc.py
  tests/chart/test_statsd.py
  tests/chart/test_triggerer.py
  tests/utils/chart.py
Due: ensure-rolebinding-without-dash

Add TestReadOnlyRootFilesystem class with failing tests
  tests/chart/test_default_chart.py
  tests/utils/__init__.py
Due: ensure-rolebinding-without-dash

Use latest quay.io/astronomer/ap-git-sync-relay
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update conditional tpl for webserver authsidecar config
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix network policies
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix network policy tests
  tests/chart/test_git_sync_relay_networkpolicy.py
Due: ensure-rolebinding-without-dash

fix tests cases
  tests/chart/test_dag_deploy_networkpolicy.py
Due: ensure-rolebinding-without-dash

Parametrize dag-deploy networkPolicy ingress tests.
  tests/chart/test_dag_deploy_networkpolicy.py
Due: ensure-rolebinding-without-dash

Fix type hint
  tests/chart/helm_template_generator.py
Due: ensure-rolebinding-without-dash

Improve readability
  tests/chart/test_dag_deploy_networkpolicy.py
Due: ensure-rolebinding-without-dash

fix dag-only deploy and git-sync network policies (#629)
  templates/dag-deploy/dag-deploy-networkpolicy.yaml
  templates/git-sync-relay/git-sync-relay-networkpolicy.yaml
  tests/chart/helm_template_generator.py
  tests/chart/test_dag_deploy_networkpolicy.py
  tests/chart/test_git_sync_relay_networkpolicy.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove webserver authsidecar config when airflow3
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update tests
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

update airflow chart version 1.17.5
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

remove webserver authsidecar config when airflow3 is enabled (#630)
  Chart.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Better indentation handling
  templates/_helpers.yaml
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

Make auth-sidecar and logging-sidecar template names uniform.
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
