Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "requirements/chart.in"
          - "requirements/chart.txt"
          - "requirements/functional.in"
          - "requirements/functional.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

Bump ci runner version
  .circleci/config.yml
  bin/generate_circleci_config.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

pre-commit run --all-files
  tests/functional/test_chart.py
Due: ensure-rolebinding-without-dash

Dev updates 2025-03-01 (#572)
  .circleci/config.yml
  .pre-commit-config.yaml
  Makefile
  bin/generate_circleci_config.py
  bin/install-ci-tools
  bin/start-kind-cluster
  metadata.yaml
  requirements/chart.txt
  requirements/functional.txt
  tests/functional/test_chart.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

deprecate k8s 1.27, 1.28. support k8s 1.32.
  .circleci/config.yml
  metadata.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Delete old schema files, and new schema files.
  tests/k8s_schema/v1.27.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.27.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.27.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.27.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.27.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.27.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.27.0-standalone/secret-v1.json
  tests/k8s_schema/v1.27.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.27.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.28.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.28.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.28.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.28.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.28.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.28.0-standalone/secret-v1.json
  tests/k8s_schema/v1.28.0-standalone/service-v1.json
  tests/k8s_schema/v1.28.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.28.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.32.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.32.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.32.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.32.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.32.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.32.0-standalone/secret-v1.json
  tests/k8s_schema/v1.32.0-standalone/service-v1.json
  tests/k8s_schema/v1.32.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.32.0-standalone/statefulset-apps-v1.json
Due: none

deprecate k8s 1.27, 1.28. support k8s 1.32. (#573)
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.27.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.27.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.27.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.27.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.27.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.27.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.27.0-standalone/secret-v1.json
  tests/k8s_schema/v1.27.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.27.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.28.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.28.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.28.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.28.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.28.0-standalone/persistentvolumeclaim-v1.json
  tests/k8s_schema/v1.28.0-standalone/secret-v1.json
  tests/k8s_schema/v1.28.0-standalone/service-v1.json
  tests/k8s_schema/v1.28.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.28.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.32.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.32.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.32.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.32.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.32.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.32.0-standalone/secret-v1.json
  tests/k8s_schema/v1.32.0-standalone/service-v1.json
  tests/k8s_schema/v1.32.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.32.0-standalone/statefulset-apps-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml

deprecate k8s 1.27, 1.28. support k8s 1.32. (#573)
  .circleci/config.yml
  metadata.yaml
  tests/k8s_schema/v1.27.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.27.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.27.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.27.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.27.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.27.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.27.0-standalone/secret-v1.json
  tests/k8s_schema/v1.27.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.28.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.28.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.28.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.28.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.28.0-standalone/secret-v1.json
  tests/k8s_schema/v1.28.0-standalone/service-v1.json
  tests/k8s_schema/v1.28.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.28.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.32.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.32.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.32.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.32.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.32.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.32.0-standalone/secret-v1.json
  tests/k8s_schema/v1.32.0-standalone/service-v1.json
  tests/k8s_schema/v1.32.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.32.0-standalone/statefulset-apps-v1.json
Due: ensure-rolebinding-without-dash, circle-config-yaml

add base tests
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

fix pre-commit
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

fix defaults
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

add overrides
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

fix ci pre-commit
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

add scc support for gitsync relay service
  templates/airflow-scc-anyuid.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add scc support for gitsync relay service (#574)
  templates/airflow-scc-anyuid.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add security context overrides support for kubernetes executor (#558)
  tests/chart/test_pod_template.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

version 1.13.6 (#564)
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add workers resource spec to pod template (#557)
  tests/chart/test_pod_template.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart backend version 1.13.2-astro (#560)
  Chart.lock
  Chart.yaml
  tests/chart/test_airflow_scheduler.py
  tests/chart/test_triggerer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

upgrade ap-vendor packages (#563)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update chart version to 1.13.8
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

revert add workers resource spec to pod template
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove tests
  tests/chart/test_pod_template.py
Due: ensure-rolebinding-without-dash

revert add workers resource spec to pod template (#575)
  tests/chart/test_pod_template.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

update chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix pgbouncer service account name
  templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add base tests
  tests/chart/test_pgbouncer.py
Due: ensure-rolebinding-without-dash

fix pgbouncer service account name (#576)
  templates/_helpers.yaml
  tests/chart/test_pgbouncer.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

update airflow images
  Chart.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update
