Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

circle-config-yaml:
  name: Ensure .circleci/config.yml is up to date
  language: python
  entry: bin/generate_circleci_config.py
  additional_dependencies:
  - jinja2
  - PyYAML

helm-dependency-update:
  name: Ensure helm lock is up to date with requirements in Chart.yaml
  language: system
  entry: helm dependency update
  pass_filenames: false

fix tests
  tests/__init__.py
  tests/chart/test_docker_images.py
Due: ensure-rolebinding-without-dash

fix pre-commit
  tests/__init__.py
  tests/chart/test_docker_images.py
Due: ensure-rolebinding-without-dash

fix CI
  bin/run-ci
Due: ensure-rolebinding-without-dash

update default airflow repo
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  tests/chart/test_default_chart.py
Due: ensure-rolebinding-without-dash

fix tags
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix tests
  tests/functional/test_chart.py
Due: ensure-rolebinding-without-dash

fix triggerer
  tests/functional/test_chart.py
Due: ensure-rolebinding-without-dash

update airflow chart and releases (#622)
  Chart.yaml
  bin/run-ci
  tests/__init__.py
  tests/chart/test_default_chart.py
  tests/chart/test_docker_images.py
  tests/enable_all_features.yaml
  tests/functional/test_chart.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

update airflow chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

rework tests
  bin/run-ci
  tests/__init__.py
  tests/chart/test_docker_images.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix chart version
  Chart.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

replace bitnami images with astronomer quay (#623)
  Chart.yaml
  bin/run-ci
  tests/__init__.py
  tests/chart/test_docker_images.py
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

add pod fsgroup
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add events permissions
  templates/dag-deploy/dag-deploy-role.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add test
  tests/chart/test_dag_deploy_role.py
Due: ensure-rolebinding-without-dash

fix fs
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

revert test and role
  templates/dag-deploy/dag-deploy-role.yaml
  tests/chart/test_dag_deploy_role.py
Due: ensure-rolebinding-without-dash, circle-config-yaml

revert all
  templates/dag-deploy/dag-deploy-role.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Add fsGroup to DAG Server StatefulSet Security Context (#624)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove fs
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

remove fs (#625)
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

apiserver houstonAuthServiceEndpointUrl
  templates/api-server/api-server-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add houstonAuthServiceEndpointUrl for dagerver
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add houstonAuthServiceEndpointUrl for flower
  templates/flower/flower-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add houstonAuthServiceEndpointUrl for webserver
  templates/webserver/webserver-auth-sidecar-configmap.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

add platform values
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

pre-commit
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

fix test
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

pre-commit
  tests/chart/test_auth_sidecar.py
Due: ensure-rolebinding-without-dash

add controlplaneDomain
  templates/api-server/api-server-auth-sidecar-configmap.yaml
  templates/dag-deploy/dag-server-auth-sidecar-configmap.yaml
  templates/flower/flower-auth-sidecar-configmap.yaml
  templates/webserver/webserver-auth-sidecar-configmap.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, circle-config-yaml

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
  helm-dependency-update: any of: Chart.yaml, but not: ^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)
