Repository astronomer/airflow-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

.pre-commit-config.yaml:

---
exclude: '^(venv|\.vscode|tests/k8s_schema|tests/chart/test_data)' # regex
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: "(charts|templates|files)"
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args: ["-b", "master"]
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
  - repo: local
    hooks:
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: circle-config-yaml
        name: Ensure .circleci/config.yml is up to date
        language: python
        files: "(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$"
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2", "PyYAML"]
      - id: helm-dependency-update
        name: Ensure helm lock is up to date with requirements in Chart.yaml
        files: "Chart.yaml"
        language: system
        entry: helm dependency update
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "(charts|templates|files)"

v1.18.2 (#747)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Release 1.18.2 new chart (#748)
  Chart.yaml
  templates/_helpers.yaml
  templates/ingress.yaml
  tests/chart/test_ingress.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix regex and tpl errors
  templates/api-server/api-server-virtualservice.yaml
  templates/dag-deploy/dag-server-virtualservice.yaml
  templates/flower/flower-virtualservice.yaml
  templates/git-sync-relay/git-sync-relay-virtualservice.yaml
  templates/webserver/webserver-virtualservice.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix incorrect condition
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

fix incorrect condition (#749)
  templates/ingress.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

First pass on private-ca trust for git-sync
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-585 improve securityContext defaults (#739)
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .devcontainer/Dockerfile
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  CLAUDE.md
  Chart.yaml
  templates/_helpers.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_container_security_context.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/enable_all_features.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

fix pre-commit
  .circleci/config.yml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

update airflow chart version
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

backport security context changes (#750)
  .agents/skills/chart-tests/SKILL.md
  .agents/skills/circleci/SKILL.md
  .agents/skills/helm-chart/SKILL.md
  .circleci/config.yml
  .devcontainer/Dockerfile
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  CLAUDE.md
  Chart.yaml
  templates/_helpers.yaml
  templates/ingress.yaml
  tests/chart/test_auth_sidecar.py
  tests/chart/test_container_security_context.py
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  tests/enable_all_features.yaml
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Use named templates for DRY code
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-774: address review — DNS-safe volume names, .crt CA filename
  templates/_helpers.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-774: keep .pem CA filename (revert .crt)
  templates/_helpers.yaml
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-774 git-sync private-ca trust (#751)
  templates/_helpers.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Chart version 1.18.3
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Chart version 1.18.3 (#752)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix securityContext for git-sync. Add tests.
  tests/chart/test_container_security_context.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

v1.18.4
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Fix securityContext for git-sync. Add tests. (#753)
  Chart.yaml
  tests/chart/test_container_security_context.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-951: add missing startup probes to dag-server and git-sync-relay containers
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-969: airflow-chart: complete default resource requests/limits
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Update authSidecar/loggingSidecar sharp-edge note: both gaps now fixed
  CLAUDE.md
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Address Copilot review feedback on PR #754
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

apc-airflow 1.17.13-astro
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

helm install --debug
  bin/run-ci
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Template the default kube_version
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Fix CI debugging-info pod filter to catch crash-looping Job pods
  bin/run-ci
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

apc-airflow 1.17.14-astro
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-951 startup probes, requests, limits (#754)
  .circleci/config.yml
  .circleci/config.yml.j2
  CLAUDE.md
  Chart.lock
  Chart.yaml
  bin/run-ci
  templates/_helpers.yaml
  templates/dag-deploy/dag-server-statefulset.yaml
  templates/git-sync-relay/git-sync-relay-deployment.yaml
  tests/chart/test_dag_server_statefulset.py
  tests/chart/test_git_sync_relay_deployment.py
  values.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

v1.18.5
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

v1.18.5 (#755)
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

Bump chart versions
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

v1.18.6 (#756)
  Chart.lock
  Chart.yaml
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml, helm-dependency-update

PINF-1073: disable caching for index.yaml on internal helm repo
  bin/package-and-release-internal
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Make index.yaml upload transactional
  bin/package-and-release-internal
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Allow pre-approval of prod release
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

Raise the alarm if the index is missing
  bin/package-and-release-internal
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash

Add test matrix gate for prod release into the right place
  .circleci/config.yml
  .circleci/config.yml.j2
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml

PINF-1073 disable caching for index.yaml in internal helm repo (#757)
  .circleci/config.yml
  .circleci/config.yml.j2
  bin/package-and-release-internal
Due: ensure-liveness-not-liveliness, ensure-rolebinding-without-dash, circle-config-yaml
